<%- include('header'); -%>
  <div class="box" id="heading">
    <h1>
      <%= listTitle.charAt(0).toUpperCase() + listTitle.slice(1) %>
    </h1>
  </div>
  <h2>
    <%= locals.errorMessage %>
  </h2>

  <!-- Displaying the Tasks -->
  <div class="box">
    <% tasks.forEach(task=> { %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" onChange="this.form.submit()" name="checked" value="<%= task._id %>">
          <p>
            <%=task.taskName%>
          </p>
          <input type="hidden" name="listType" value="<%= listTitle %>">
      </form>
  </div>
  <% }) %>
    <!-- Submitting the Tasks -->
    <form class="item" action="/" method="post">
      <input type="text" name="task" placeholder="New Task">
      <button class="addBtn" type="submit" name="listType" value="<%=listTitle%>">+</button>
    </form>
    </div>
    <%- include('footer'); -%>